In [1]:
import requests

In [2]:
requests.get("http://localhost:5000/hola").json()

{'hola': 'pepe'}

In [3]:
requests.get("http://localhost:5000/ta/Clara").json()

{'nombre': 'Clara'}

In [4]:
requests.get("http://localhost:5000/").json()

{'edad': 30, 'nombre': 'Luis'}

In [5]:
requests.get("http://localhost:5000/hola").json()

{'hola': 'pepe'}

In [6]:
a = requests.get("http://localhost:5000/company/face").json()
a["name"]

'Facebook'

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("../input/friends_quotes.csv")
df.head()

,Unnamed: 0,author,episode_number,episode_title,quote,quote_order,season
0,0,Monica,1.0,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,0.0,1.0
1,1,Joey,1.0,Monica Gets A Roommate,"C'mon, you're going out with the guy! There's ...",1.0,1.0
2,2,Chandler,1.0,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hu...",2.0,1.0
3,3,Phoebe,1.0,Monica Gets A Roommate,"Wait, does he eat chalk?",3.0,1.0
4,4,Phoebe,1.0,Monica Gets A Roommate,"Just, 'cause, I don't want her to go through w...",4.0,1.0

In [9]:
sw = pd.read_table('../input/SW_EpisodeIV.txt', delim_whitespace=True, header=0, escapechar='\\')
sw.head()

  character                                           dialogue
1  THREEPIO  Did you hear that?  They've shut down the main...
2  THREEPIO                                      We're doomed!
3  THREEPIO  There'll be no escape for the Princess this time.
4  THREEPIO                                       What's that?
5  THREEPIO  I should have known better than to trust the l...