In [1]:
import requests

In [2]:
requests.get("http://localhost:5000/hola").json()

{'hola': 'pepe'}

In [3]:
requests.get("http://localhost:5000/ta/Clara").json()

{'nombre': 'Clara'}

In [4]:
requests.get("http://localhost:5000/").json()

{'edad': 30, 'nombre': 'Luis'}

In [5]:
requests.get("http://localhost:5000/hola").json()

{'hola': 'pepe'}

In [6]:
a = requests.get("http://localhost:5000/company/face").json()
a["name"]

'Facebook'

In [338]:
df = pd.read_csv("../input/friends.csv",  index_col=0)
#df = df.rename(columns={"Unnamed: 0.1":"total_order"})

In [339]:
df.head()

,msg_id,user_name,user_order,season,episode_number,episode_title,quote_order,quote
0,0,Monica,0,1,1,Monica Gets A Roommate,0,There's nothing to tell! He's just some guy I ...
1,1,Joey,0,1,1,Monica Gets A Roommate,1,"C'mon, you're going out with the guy! There's ..."
2,2,Chandler,0,1,1,Monica Gets A Roommate,2,"All right Joey, be nice. So does he have a hu..."
3,3,Phoebe,0,1,1,Monica Gets A Roommate,3,"Wait, does he eat chalk?"
4,4,Phoebe,1,1,1,Monica Gets A Roommate,4,"Just, 'cause, I don't want her to go through w..."

In [340]:
df.quote.value_counts().head(50).sum()

4058

In [343]:
dfs1 = df[df.season ==1]
dfs1e1 = dfs1[dfs1.episode_number == 1]
dfs1

,msg_id,user_name,user_order,season,episode_number,episode_title,quote_order,quote
0,0,Monica,0,1,1,Monica Gets A Roommate,0,There's nothing to tell! He's just some guy I ...
1,1,Joey,0,1,1,Monica Gets A Roommate,1,"C'mon, you're going out with the guy! There's ..."
2,2,Chandler,0,1,1,Monica Gets A Roommate,2,"All right Joey, be nice. So does he have a hu..."
3,3,Phoebe,0,1,1,Monica Gets A Roommate,3,"Wait, does he eat chalk?"
4,4,Phoebe,1,1,1,Monica Gets A Roommate,4,"Just, 'cause, I don't want her to go through w..."
...,...,...,...,...,...,...,...,...
6026,6026,Ross,914,1,24,Rachel Finds Out,250,"Oh, hey, hey, I got that."
6028,6028,Ross,915,1,24,Rachel Finds Out,252,No problem. I cannot wait for you to meet my f...
6030,6030,Ross,916,1,24,Rachel Finds Out,254,Yeah.
6032,6032,Ross,917,1,24,Rachel Finds Out,256,"No, no, they will. I just... uh..."
6034,6034,Ross,918,1,24,Rachel Finds Out,258,"Come on, they're gonna love you."

In [342]:
dfs1.to_csv('../input/friends_s1.csv')
dfs1e1.to_csv('../input/friends_s1_e1.csv')

In [337]:
dfs1.author.value_counts()

Ross        919
Monica      854
Rachel      850
Chandler    816
Phoebe      637
Joey        613
Name: author, dtype: int64

In [172]:
requests.get("http://localhost:5000/user/Harry").text

'todo ok!'

In [173]:
from pymongo import MongoClient
import re
from pandas.io.json import json_normalize
import pandas as pd

In [206]:
client = MongoClient('mongodb://localhost/friends')

In [204]:
requests.get("http://localhost:5000/user/Harry").text

'todo ok!'

In [228]:
users = client.get_default_database()['users']
name = "pepe"
q= {'name':{'$exists': True}}
query = users.find(q,projection={'name':1,'_id':0})
findname = [name for i in query for name in i.values()]

if name in findname:
    print(f"{name} ya existe en la base de datos.")
else:
    print("OK")
if not query:
    raise ValueError("Can't insert user")

print(list(query))
print(findname)
print(result)

OK
[]
[]
2

In [278]:
requests.get("http://localhost:5000/insert/user/amanda").text

'amanda ya existe en la base de datos.'

In [283]:
users = client.get_default_database()['users']

q= {'user_id':{'$exists': True}}
query = users.find(q,projection={'user_id':1,'_id':0})
print(list(query))
findmax = [n for i in query for n in i.values()]
print(findmax)
if findmax ==[]:
    print (0)
else:
    res = max(findmax)
    print(res)

[{'user_id': 1}, {'user_id': 2}]
[]
0

In [297]:
requests.get("http://localhost:5000/insert/conversation/hector").text

"hector NO existe en la base de datos. Utiliza 'insert/user/<user_name>' para crearlo"

In [298]:
requests.get("http://localhost:5000/insert/user/hector").text

'todo ok!'

In [299]:
requests.get("http://localhost:5000/insert/conversation/hector").text

'todo ok!'

In [307]:
requests.get("http://localhost:5000/insert/user/anai").text

'anai ya existe en la base de datos. Por favor elige otro nombre.'

In [344]:
dfs1

,msg_id,user_name,user_order,season,episode_number,episode_title,quote_order,quote
0,0,Monica,0,1,1,Monica Gets A Roommate,0,There's nothing to tell! He's just some guy I ...
1,1,Joey,0,1,1,Monica Gets A Roommate,1,"C'mon, you're going out with the guy! There's ..."
2,2,Chandler,0,1,1,Monica Gets A Roommate,2,"All right Joey, be nice. So does he have a hu..."
3,3,Phoebe,0,1,1,Monica Gets A Roommate,3,"Wait, does he eat chalk?"
4,4,Phoebe,1,1,1,Monica Gets A Roommate,4,"Just, 'cause, I don't want her to go through w..."
...,...,...,...,...,...,...,...,...
6026,6026,Ross,914,1,24,Rachel Finds Out,250,"Oh, hey, hey, I got that."
6028,6028,Ross,915,1,24,Rachel Finds Out,252,No problem. I cannot wait for you to meet my f...
6030,6030,Ross,916,1,24,Rachel Finds Out,254,Yeah.
6032,6032,Ross,917,1,24,Rachel Finds Out,256,"No, no, they will. I just... uh..."
6034,6034,Ross,918,1,24,Rachel Finds Out,258,"Come on, they're gonna love you."

In [345]:
df = pd.read_csv("../input/friends_s1.csv", index_col=0)

In [346]:
df

,msg_id,user_name,user_order,season,episode_number,episode_title,quote_order,quote
0,0,Monica,0,1,1,Monica Gets A Roommate,0,There's nothing to tell! He's just some guy I ...
1,1,Joey,0,1,1,Monica Gets A Roommate,1,"C'mon, you're going out with the guy! There's ..."
2,2,Chandler,0,1,1,Monica Gets A Roommate,2,"All right Joey, be nice. So does he have a hu..."
3,3,Phoebe,0,1,1,Monica Gets A Roommate,3,"Wait, does he eat chalk?"
4,4,Phoebe,1,1,1,Monica Gets A Roommate,4,"Just, 'cause, I don't want her to go through w..."
...,...,...,...,...,...,...,...,...
6026,6026,Ross,914,1,24,Rachel Finds Out,250,"Oh, hey, hey, I got that."
6028,6028,Ross,915,1,24,Rachel Finds Out,252,No problem. I cannot wait for you to meet my f...
6030,6030,Ross,916,1,24,Rachel Finds Out,254,Yeah.
6032,6032,Ross,917,1,24,Rachel Finds Out,256,"No, no, they will. I just... uh..."
6034,6034,Ross,918,1,24,Rachel Finds Out,258,"Come on, they're gonna love you."

In [350]:
episodes = list(set(df.episode_number))
episodes

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [351]:
max_ep = max(episodes)
max_ep

24

In [352]:
numb = 1

In [354]:
df = df[df.episode_number == numb]
df

,msg_id,user_name,user_order,season,episode_number,episode_title,quote_order,quote
0,0,Monica,0,1,1,Monica Gets A Roommate,0,There's nothing to tell! He's just some guy I ...
1,1,Joey,0,1,1,Monica Gets A Roommate,1,"C'mon, you're going out with the guy! There's ..."
2,2,Chandler,0,1,1,Monica Gets A Roommate,2,"All right Joey, be nice. So does he have a hu..."
3,3,Phoebe,0,1,1,Monica Gets A Roommate,3,"Wait, does he eat chalk?"
4,4,Phoebe,1,1,1,Monica Gets A Roommate,4,"Just, 'cause, I don't want her to go through w..."
...,...,...,...,...,...,...,...,...
296,296,Chandler,36,1,1,Monica Gets A Roommate,296,"Did you make it, or are you just serving it?"
297,297,Rachel,46,1,1,Monica Gets A Roommate,297,I'm just serving it.
299,299,Chandler,37,1,1,Monica Gets A Roommate,299,"Kids, new dream... I'm in Las Vegas. (Rachel s..."
301,301,Rachel,47,1,1,Monica Gets A Roommate,301,Ugh. (To another customer that's leaving.) Exc...
302,302,Chandler,38,1,1,Monica Gets A Roommate,302,"Okay, so, I'm in Las Vegas... I'm Liza Minelli-"

In [396]:
hola_dict = df.to_dict(orient="records")
hola_json = df.to_json(orient="records")

In [398]:
hola_dict[:2]

[{'msg_id': 0,
  'user_name': 'Monica',
  'user_order': 0,
  'season': 1,
  'episode_number': 1,
  'episode_title': 'Monica Gets A Roommate',
  'quote_order': 0,
  'quote': "There's nothing to tell! He's just some guy I work with!"},
 {'msg_id': 1,
  'user_name': 'Joey',
  'user_order': 0,
  'season': 1,
  'episode_number': 1,
  'episode_title': 'Monica Gets A Roommate',
  'quote_order': 1,
  'quote': "C'mon, you're going out with the guy! There's gotta be something wrong with him!"}]

In [390]:
# Connect to the database
client = MongoClient(
    "mongodb://localhost/friends"
)  # PARA CONECTAR A MONGODB ATLAS METER API KEY
db = client.get_database()
coll_users = db["users"]
coll_conver = db["conversations"]

In [416]:
query = coll_conver.insert_many(hola_dict)

BulkWriteError: batch op errors occurred

In [418]:
q = {"episode_number": {"$exists": True}}
query = coll_conver.find(q, projection={"episode_number": 1, "_id": 0})
findepisode = list(set([episode for i in query for episode in i.values()]))
findepisode

[1]